body {
	font-size: 18px;	
	margin-top: 2%;
	margin-bottom: 5%;
	font-family: sans-serif;
}

div.text{
	text-align: left;
	margin-left: 2%;
  	color: #282c34;
}
 
.button {
        padding: 12px;
	transition: filter .5s ease;
        border-radius: 5px;
	cursor: pointer;
        margin: .1%;
	margin-top: .5%;
}

.button:hover {
	filter: brightness(.8);
}

.cm-editor {
	width: 96%; 
	height: 500px; 
	font-size: 18px; 
	font-family: monospace; 
	text-align: left;
	margin: 0 auto;
}

.cm-scroller { 
    	overflow: auto; 
}

.console {
	width: 95%;
	height: 200px;
	font-size: 16px;
	font-family: monospace;
	background: #282c34; 
	color: #0f0; 
	padding: 10px; 
	margin-top: 1%;
	border: none; 
	resize: none;
}

.ready-green {
    	background-color: #4CAF50;
    	color: white;
    	font-weight: bold;
    	transition: background-color 1s ease;
}

.ready-red {
    	background-color: #A84732;
    	color: white;
    	font-weight: bold;
    	transition: background-color 1s ease;
}

a:link {
	color: green;
	text-decoration: none;
}

a:visited {
	color: green;
  	text-decoration: none;
}

a:hover {
	color: green;
  	text-decoration: underline;
}

a:active {
  	color:red;
  	text-decoration: underline;
}
